*{
    margin: 0px;
    font-family: arial;
    border:border-box;
}
/* for box 1 */
.navbar{
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    width: 100px;
    height: 40px;
}
.logo{
    width: 100px;
    height: 40px;
    background-image: url("amazon_logo.png");
    background-size: cover;
}
.border:hover{
    border: 1px solid white;
}
/* for box 2 */
#p1{
    color:white;
    font-size: 1rem;
    margin-left: 10px;
}
#p2{
    color:white;
    font-size: 0.5rem;
    margin-left: 10px;
}
/* for box 3 */
.nav-search{
    width: 500px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
}

#ns2{
    width: 100%;
    border: none;
    font-size: 1rem;
}
#ns1{
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 1rem;
    text-align: center;
    background-color: beige;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: darkorange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}
.nav-search:hover{
    border:2px solid orange;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}    
/* box lang (no.4) */
.lang-search{
    display: flex;
    justify-content: center;
}
#ls1{
    background-color: black;
    color: white;
    border:none;
    font-size: 1rem;
} 
/*  box sign in (no.5) */
span{
    display: flex;
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.9rem;
    font-weight: 700;
}
.nav-cart{
    font-size: 1rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 35px;
}
/* panel 2 */
.panel-second{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-options p{
    display: inline;
    margin-left: 20px;
}
.panel-options{
    width: 70%;
    font-size: 0.8rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */
.hero-section{
    background-image: url("hero_image.jpg");
    height: 300px;
    background-size: cover;
}
.hero-mcg{
    background-color:darkgray;
    color: black;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    position: relative;
    top: 300px;
}
.hero-mcg a{
    color: #007185;
}

/* shop section */

.shop-sectionone{
    margin-top: 15px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
.box10{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    text-align:center;
    display: flex;
    flex-direction: column;
    color: darkred;
    font-weight: 800;
    background-image: url("box1_image.jpg");
    background-size: cover;
}
.box11{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    color: darkred;
    font-weight: 800;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url("box2_image.jpg");
    background-size: cover;
}
.box12{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    color: darkred;
    font-weight: 800;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url("box3_image.jpg");
    background-size: cover;
}
.box13{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    color: darkred;
    font-weight: 800;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url("box4_image.jpg");
    background-size: cover;
}
.box10 a{
    position: relative;
    top: 350px;
    color: darkred;
    font-weight: 800;
    text-decoration: none;
}
.box11 a{
    position: relative;
    top: 350px;
    color: darkred;
    font-weight: 800;
    text-decoration: none;
}
.box12 a{
    position: relative;
    top: 350px;
    color: darkred;
    font-weight: 800;
    text-decoration: none;
}
.box13 a{
    position: relative;
    top: 350px;
    color: darkred;
    font-weight: 800;
    text-decoration: none;
}
.shop-sectiontwo{
    margin-top: 15px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
.box20{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    color: darkred;
    font-weight: 800;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url("box5_image.jpg");
    background-size: cover;
}
.box21{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    color: darkred;
    font-weight: 800;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url("box6_image.jpg");
    background-size: cover;
}
.box22{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    color: darkred;
    font-weight: 800;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url("box7_image.jpg");
    background-size: cover;
}
.box23{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    color: darkred;
    font-weight: 800;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url("box8_image.jpg");
    background-size: cover;
}
.box20 a{
    position: relative;
    top: 350px;
    color: darkred;
    font-weight: 800;
    text-decoration: none;
}
.box21 a{
    position: relative;
    top: 350px;
    color: darkred;
    font-weight: 800;
    text-decoration: none;
}
.box22 a{
    position: relative;
    top: 350px;
    color: darkred;
    font-weight: 800;
    text-decoration: none;
}
.box23 a{
    position: relative;
    top: 350px;
    color: darkred;
    font-weight: 800;
    text-decoration: none;
}

/* footer section */
/* sign-in footer */
.signin-footer{
    background-color: beige;
    color: grey;
    height: 100px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    width: 200px;
    height: 25px;
    background-color: darkorange;
    border-radius: 4px;
    border: 0px solid darkorange;
}
.signin-footer a{
    text-decoration: none;
}
/* back to top */
.button2{
    background-color: #325274;
    border: 2px solid black;
    height: 30px;
    width: 100%;
    border-radius: none;
} 
.button2 a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
/* next footer after back to top  */
.third-footer{
    display: flex;
    color: white;
    height: 400px;
    background-color: #222f3d;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 50px;
}
.third-footer p{
    font-size: small;
    padding-top: 10px;

}
/* forth footer (language,currency) */
.log{
    width: 100px;
    height: 40px;
    background-image: url("amazon_logo.png");
    background-size: cover;
}
.forth-footer{
    height: 100px;
    background-color: #222f3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-one{
    height: 40px;
    border-radius: 4px;
    background-color: #222f3d;
    border: 1px solid white;
    color: white;
    margin-left: 20px;
}
/* fifth footer(last footer) */
.fifth-footer{
    height: 500px;
    background-color: #131A22;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
}
.fifth-footer h5{
    font-weight: 700;
    padding-top: 50px;
}
.fifth-footer p{
    font-size: smaller;
    color: darkgray;
}
.copyright{
    background-color: #131A22;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: smaller;
}